.swiper-slide {
  padding: 91px 0 100px 95px;
  background: url(../../../assets/hero/Section.png) no-repeat center;
  background-size: 100% 100%;
  @media (max-width: 1000px) {
    padding: 80px 50px 100px 85px;
  }
  @media (max-width: 660px) {
    padding: 30px 50px 30px 20px;
  }
}
.swiper-button-prev::after{
    content: 'prev';
}
.hero {
  display: flex;
  &__title {
    font-family: Quicksand;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    color: #253d4e;
    margin-bottom: 31px;
    max-width: 600px;
  }
  p {
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    color: #7e7e7e;
    margin-bottom: 65px;
  }
  &__card {
    width: 450px;
    border-radius: 50px 50px 50px 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      flex-grow: 1;
      padding: 23px 0 23px 30px;
      border-radius: 50px 0px 0px 50px;
      border: none;
      outline: none;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      color: #838383;
    }
    button {
      padding: 22px 40px;
      border-radius: 50px;
      background: #3bb77e;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #fff;
      border: 1px solid #3bb77e;
      transition: all 0.5s ease;
      &:hover {
        background: transparent;
        color: #838383;
      }
    }
  }
  @media (max-width: 1000px) {
    &__title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 20px;
      }
      p {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 45px;
      }
  }
  @media (max-width: 780px) {
    &__title {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 40px;
      }
      input {
        padding: 14px 0 15px 30px;
      }
      button {
        padding: 13px 28px;
      }
  }
  @media (max-width: 660px) {
    &__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 15px;
      }
      p {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 40px;
      }
      &__card{
        width: 300px;
      }
      input {
        padding: 8px 0 10px 16px;
      }
      button {
        padding: 8px 18px;
      }
  }
  
}
